VARIABLES

In [3]:
myNumber = 7
my_number = 9
_my_num = 3
num = 10
x,y,z = "bat","hi","happy"
print(myNumber)
print(my_number,num,_my_num)
print(y)
print(x,z)

7
9 10 3
hi
bat happy

DATATYPE (To print datatype of a variable)

In [4]:
num = 3.1
a = 15
b = "age"
print(type(b))
print(type(a))

<class 'str'>
<class 'int'>

CASTING

In [39]:
x = str(12)
y = float(3)
z = int(4.546)
print(x,y,z)   # to print on new line use print(x,'\n',y,'\n',z)

12 3.0 4

STRINGS (Multiline Strings)

In [13]:
a = """India is my country.
All Indians are my brothers and sisters.
I love my country."""
print(a)

India is my country.
All Indians are my brothers and sisters.
I love my country.

Getting the character at a position

In [19]:
a = "I am Superman"
print(a[5])

S

String Length

In [20]:
a = "I am Superman"
print(len(a))

13

Slicing

In [24]:
a = "I am Superman"
print(a[2:8])
print(a[2:3])
print(a[2:])
print(a[:3])

am Sup
a
am Superman
I a

Modify String

In [28]:
a = " I am Superman "
print(a.lower())
print(a.upper())
print(a.strip()) #removes the whitespace from the beginning and the end

 i am superman
 I AM SUPERMAN
I am Superman

Concatenation

In [32]:
a = "I am Superman"
b = "not Batman"
c = a+b    # to add space between them use a+" "+b
print(c)

I am Supermannot Batman

String Format ( to combine strings and numbers )

In [40]:
age = 21
a = "I am {} years old"  # use {} where you want to place the number
print(a.format(age))      # use format()

I am 21 years old

LISTS

In [50]:
a = ["hulk","thor","captain"]
b = ["antman","blackwidow"]
a.insert(2,"ironman")     #inserting new element  use insert()
a.append("loki")     #to add an item at the end of the list use append()
a.extend(b)        # to extend a new list to another list
a.remove("loki")    # to remove a specified item use remove()
a.sort()         # for sorting alphanumerically use sort()
a.pop(4)        # to remove specified index use pop()
print(a)
print(len(a))   #length of list
print(a[2])    #access items

['antman', 'blackwidow', 'captain', 'hulk', 'thor']
5
captain

TUPLES

In [54]:
a = ("superman","batman","flash")
b = ("aquaman","wonderwoman")
c = a+b     # joining two tuples
d = a*3   # multiplying tuples
print(a)
print(c)
print(d)
# to create tuple with only one item a = ("superman",)
# if the comma at the end is not given it is considered as string.

('superman', 'batman', 'flash')
('superman', 'batman', 'flash', 'aquaman', 'wonderwoman')
('superman', 'batman', 'flash', 'superman', 'batman', 'flash', 'superman', 'batman', 'flash')

SET

In [58]:
a = {"hulk","thor","captain"}
a.add("ironman")     # to add an item to the set.
b = {"panther","loki"}
a.update(b)     #to add items from one set to another set.
a.remove("hulk")  #to remove an item use remove() or discard()
print(a)

{'captain', 'panther', 'loki', 'thor', 'ironman'}

DICTIONARY

In [68]:
car = {
    "brand": "Maserati",  #first one refered as key and the second is value
    "model": "Alfieri",
    "year": "2018"
}
car["year"] = "2019"    #changing the element.
car["color"] = "red"    #adding an item to the dictionary.
car.pop("model")      #removes the item with specified key name. popitem() removes the last item.
                      # del car["model"] also removes the item with specified key.
print(car)
print(car["brand"])     #to print specified key value.

{'brand': 'Maserati', 'year': '2019', 'color': 'red'}
Maserati

IF..ELSE

In [70]:
a = 3
b = 5
if b > a:
    print("b is greater than a")

b is greater than a

WORLDTIME API

In [1]:
import requests
response = requests.get('http://worldtimeapi.org/api/timezone/Asia/Kolkata')
print(response.json())
res=response.json()
print(res['datetime'])

{'abbreviation': 'IST', 'client_ip': '134.238.16.136', 'datetime': '2023-03-15T19:36:58.752035+05:30', 'day_of_week': 3, 'day_of_year': 74, 'dst': False, 'dst_from': None, 'dst_offset': 0, 'dst_until': None, 'raw_offset': 19800, 'timezone': 'Asia/Kolkata', 'unixtime': 1678889218, 'utc_datetime': '2023-03-15T14:06:58.752035+00:00', 'utc_offset': '+05:30', 'week_number': 11}
2023-03-15T19:36:58.752035+05:30

In [2]:
import requests
place = input("Enter place: ")
response = requests.get('http://worldtimeapi.org/api/timezone/{}'.format(place))
print(response)
res = response.json()
datetime = res['datetime']
print("Datetime in {}: {}".format(place,datetime))

<Response [200]>
Datetime in Africa/Accra: 2023-03-15T14:07:44.205440+00:00