# Python Training

# If Statement

In [2]:
a=10
b=20
if b>a:
    print("b is greater than a")
elif a==b:
    print("a and b are equal")
else:
    print("a is greater than b")

b is greater than a

In [8]:
a=20
b=10
if a>b:print("a is greater than b")
print("A")if a>b else print("B")

a is greater than b
A

In [10]:
a=5
b=10
if not a>b :
    print("A")

A

In [ ]:
if b>a :
    pass

# While loop

In [15]:
i=1
while i<6:
    print(i)
    i+=1

1
2
3
4
5

In [18]:
i=1
while i<6:
    print(i)
    if i==3:
        break
    i+=1

1
2
3

In [19]:
i=1
while i<6:
    print(i)
    i+=1
else :
    print("i is larger")

1
2
3
4
5
i is larger

# For loop

In [20]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x) 
  if x == "banana":
    break

apple
banana

In [24]:
for x in range(2, 30, 3):
  if x == 20: break
  print(x)
else:
  print("Finally finished!")

2
5
8
11
14
17

# Function

In [36]:
def function(*name):
    print(name[0]+name[1]+" Rahim")
function("Rabeen"," Abdul")

Rabeen Abdul Rahim

In [37]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [38]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

# Recursion

In [39]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

# Class

In [40]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

In [41]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1)

<__main__.Person object at 0x000001FDFDFB3310>

# API Program

In [22]:
import requests
response = requests.get(f"http://worldtimeapi.org/api/timezone/Asia/Kolkata")
#print(response.status_code)
#print(response.json())
responseapi=response.json()
print("Date and Time of " +responseapi['timezone']+" is "+responseapi['datetime'])

Date and Time of Asia/Kolkata is 2023-03-15T16:58:02.709570+05:30